#languageslist{
    width: 80%;
    padding-left: 10px;
}

.list{
    margin-top: 30px;
    margin-left: 10px;
}

.list li{
    width: 50%;
}

.list li ul{
    padding: 8px;
}

.list ul, 
.list li{
    list-style-type: none !important;
}

@media screen and (max-width: 600px) {
    .list li{
        width: 100%;
    }
}