#languageslist{
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}

.title-lang{
    width: 100%;
    background-color: steelblue;
    color: white !important;
}

.block{
    width: 100%;
    padding-right: 10px;
}

@media screen and (max-width: 600px) {
    #languageslist{
        display: block;
    }
    .block{
        width: 100%;
    }
}