.my-info{
    margin-top: 10px;
}

.info{
    border-right: 1px solid #444;
}

.certificates{
    margin: 20px;
}

.aboutme{
    color: #333;
}

@media screen and (max-width: 600px) {
    .my-info{
        padding-left: 20px;
    }
}